* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-bottom: 16px;
}

.wrapper {
	min-height: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	// background-color: #feffdc;
}

#app {
	min-height: calc(100vh - 100px);
	width: 100%;
	// background-color: red;
}

.hero {
	width: 100%;
	min-height: 425px;
	background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/digiHeader.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.side-ways-home {
	font-size: 80px;
	text-align: left;
	width: 347px;
	margin-left: 100.4px;
	top: 480px;
	position: absolute;
	letter-spacing: 40px;
	transform: rotate(-90deg);
	color: #9fb05f;
}
